<section class="footer_section container-fluid">
    <div class="container footer_div pb-4">
        <div class="mt-3">
            <h1 class="heading_text">Our mission is to provide Healthy and Freesh Food to anyone, anywhere.</h1>
            <h1 class="heading_text">Food Mart is a Food Related Comapany!</h1>
        </div>
        <div class="mt-3">
            <li class="footer_list">About</li>
            <li class="footer_list">News</li>
            <li class="footer_list">Impact</li>
            <li class="footer_list">Our team</li>
            <li class="footer_list">Our interns</li>
            <li class="footer_list">Our content specialists</li>
            <li class="footer_list">Our supporters</li>
            <li class="footer_list">Our contributors</li>
            <li class="footer_list">Our finances</li>
            <li class="footer_list">Careers</li>
        </div>
        <div class="mt-3">
            <li class="footer_list">Contact</li>
            <li class="footer_list">Help center</li>
            <li class="footer_list">Support community</li>
            <li class="footer_list">Share your story</li>
            <li class="footer_list">Press</li>
            <li class="footer_list">Download our apps</li>
            <li class="footer_list">iOS app</li>
            <li class="footer_list">Android app</li>
        </div>
        <div class="mt-3">
            <li class="footer_list">About Online Food</li>
            <li class="footer_list">Add Your Restaurant</li>
            <li class="footer_list">Read Our Blog</li>
            <li class="footer_list">Find Reciepe</li>
        </div>
    </div>
<hr class="hr_line my-2 mx-auto">
    <div class="below_footer_row">
        <div class="d-flex">
            <p class="lowar_footer_text mx-2">© 2023 Food Mart</p>
            <p class="lowar_footer_text mx-2">Terms of use</p>
            <p class="lowar_footer_text mx-2">Privacy Policy</p>
            <p class="lowar_footer_text mx-2">Cookie Notice</p>
        </div>
        <div class="img_div d-flex">
            <img class="img_icon mx-3" src="../../../assets/icons8-facebook-24.png" alt="">
            <img class="img_icon mx-3" src="../../../assets/icons8-twitter-circled-24.png" alt="">
            <img class="img_icon mx-3" src="../../../assets/icons8-twitter-circled-24.png" alt="">
        </div>
    </div>
</section>
