


.product_card{
    border:solid 1px #8cc63e;
    border-radius: 10px;
    padding: 20px;
    width: 300;
}
.food_img{
    width: 280px;
    height: 300px;
    border-radius: 10px;
}

.details_view_btn{
    background-color: #8cc63e;
    color: white;
    border-color: #8cc63e;
    border-radius: 5px;
}