@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');


@mixin TextResponsive($device: 'large', $fs, $fw, $tc: 'black') {
    @if ($device == 'small') {
        @media only screen and (min-width:200px) and (max-width:567px) {
            font-size:  $fs;
            font-family: 'Oswald', sans-serif;
            font-weight: $fw;
            color: $tc;
        }
    }
    @if ($device == 'medium') {
        @media only screen and (min-width:568px) and (max-width: 991px) {
            font-size:  $fs;
            font-family: 'Oswald', sans-serif;
            font-weight: $fw;
            color: $tc;
        }
    }
    @if ($device == 'large') {
        @media only screen and (min-width: 992px) and (max-width: 3000px) {
            font-size:  $fs;
            font-family: 'Oswald', sans-serif;
            font-weight: $fw;
            color: $tc;
        }
    }
}


.food_sec_title{
    @include TextResponsive('large', 30px, bold, #8cc63e);
    @include TextResponsive('small', 20px, bold, #8cc63e);
    @include TextResponsive('medium', 25px, bold, #8cc63e);
}