<section class="signup_main_container container-fluid">

        <div >
            <div class="input_div">
                <label class="labels">Email</label>
                <input  placeholder="Eneter Your Email" type="email" name="email"  (change)="onUserChangeHandler( $event)" class="inputs"/>
                <small *ngIf="errorObj.emailErr" class="d-block my-2 text-danger">{{errorObj.emailErr}}</small>
            </div>
            <div class="input_div">
                <label class="labels">Password</label>
                <input  placeholder="Eneter Your Password" type="password" name="password"  (change)="onUserChangeHandler( $event)" class="inputs"/>
                <small *ngIf="errorObj.passwordErr" class="d-block my-2 text-danger">{{errorObj.passwordErr}}</small>
            </div>
            <button (click)="signInHandler()" class="sign_up_btn">Sign-In</button>
        </div>
        <div class="img_div">
            <img class="auth_img" src="../../../../assets/login_img.jpg" />
        </div>
  
</section>
